services:
  db-mysql:
    image: mysql:8.4.6
    restart: no # on-failure, unless-stopped, always, no
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./config/my.cnf:/etc/mysql/my.cnf:ro
      - mysql_volume:/var/lib/mysql

volumes:
  mysql_volume: